.brand-logo{
	margin-left: 5rem;
}
.hide-on-med-and-down{
	margin-right: 5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
  	height: 400px;
}
